HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified


# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=E9nM7ejKtxA7jhBWmxkH4g==,ggXicaFh8yxhoJVwI9pRaw==,hZXes6edpN6kTdHd8QphsQ==,PT3ouQDxLjEmw1SH93i17g==
API_TOKEN_SALT=OlIht5KR4uuTZskQ3rrOcA==
ADMIN_JWT_SECRET=osALUHQ6jgDkPgE1BegJ1A==
TRANSFER_TOKEN_SALT=0Ik2rgoboDzq39OrbEPr1A==
ENCRYPTION_KEY=mJd68sfzzA26Ga/YsnD4Hw==

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=bsit3a_25_db
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=snc2004
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=Pr3uL+FBu7Kij55HrH6qYA==
 